/*https://teachablemachine.withgoogle.com/models/h95wJadgR/*/
body {
    background-color: rgb(160, 23, 165);
    color: white;
}
.heading {
    width: 80%;
    font-size: 22px;
}
#camera {
    border: 2px dashed black;
 width: 350px;
 height: 300px;
}
.nameofobjects ,#resultobjectname,#resultobjectaccuracy {
    color: rgb(4, 0, 255);
}